<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>fuse account activation is required</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p >Dear </p>
    <p >Your fuse account has been created, please click on the URL below to activate it:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/api/activate?key=${user.key}|})" th:href="${url}" th:text="${url}">Activation link</a>
    </p>
    <p>
      <span>Regards, </span>
      <br />
      <em >Fuse.</em>
    </p>
  </body>
</html>
